
* {
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    
    text-decoration: inherit;
}

html, body {
    height: 100%;
}

body {
    min-height: 100%;
    flex-direction: column;

    position: relative;

    font-size: 1.2em;
    font-family: "Avenir", "Arial", sans-serif;;

    line-height: 1.5;
    color: grey;

    margin: 0 auto;
    max-width: 50em;
}

.content {
    flex: 1 0 auto;
}

ol {   
    list-style-type: decimal;
}
li {
    list-style-type: none;
}
 
.w3-row-padding  {
    /* center rows */
    margin: 0 auto;
    max-width:45em;
}


/*-------- Header settings and Em -------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Avenir", sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: 500;

}
h2 {
    display: inline;
    font-weight: 400;
    font-size: 1.7em;
}
h3 {
    font-size: 1.5em;
    font-weight: 400;
}
h4 {
    font-size: 1.3em;
    padding: 0px 20px 0px 0px;
}

strong {
  color: #333;
}

/*-------- Head/Footer Settings -------*/
.top-header {
    background-color: #0698EC;
    box-shadow: 0px .8px 5px #888888;

    color: white;

    position: relative;
    z-index: 1;
}
.top-header h1 {
    color: white;

    font-size: 2.5em;
    font-weight: 300;
}
.top-header a  {
    color: white;
}
.top-header a:hover  {
    color: #565656;
}

header a {
    padding: 0 0.5em 0 0.5em;
}

footer {
    font-size: 1em;
    font-weight: 300;
}

/*-------- Slide/Section Settings -------*/
#about, #projects, #blog {
    padding-top: 1.1em;
    min-height: 40em;
    height: auto;
    overflow-y: auto;
    background-color: #F6F5FA;
}

.footer {
    
}

.slide {
    display: none;
}
.demo {
    cursor:pointer
}


/*
section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;

    border-top: 1px solid #ccc;
}
*/
/*----------------------------------*/

.navbar {
    background-color: #7E6ACD;
}

.nav-link {
    color: white;
}
.navbar-brand {
    color: white;   
}

.navbar-nav { 
    max-width: 30em;
}

/*--------- Links ------------*/

/*--- Link colors 
#1FDA9A - lightgreen
#28ABE3 - blue
#F7EAC8 - beige
#E8B71A - gold tips
#DB3340 - red
---*/

a {
    font-weight:500;
    color: #7E6ACD;
}

a:hover {
    -o-transition: .35s;
    -ms-transition: .35s;
    -moz-transition: .35s;
    -webkit-transition: .35s;
    transition: .35s;

    color:#888888;    
}

a:link,
a:visited {
    text-decoration: none;
    text-style: visited;
}

@media all {
    html {
        font-size: 1em;
    }
}

@media screen and (max-width: 40em) {
    #about, #projects, #contact, #blog {
	margin:0;
	font-size: 1em;
	padding-left:5px;
	width: 100%;
    }
    
    
    .card-nav {
    	display:none;
	width:0px;
    }
}