* {
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    color: inherit;
    text-decoration: inherit;
}

html, body {
    height: 100%;
}

body {
    min-height: 100%;
    flex-direction: column;

    position: relative;

    font-size: 1em;
    font-family:"Avenir";

    line-height: 1.5;
    
    color: #555;
}

.content {
    flex: 1 0 auto;
}

ol {   
    list-style-type: decimal;
}
li {
    list-style-type: none;
}
 
.w3-row-padding  {
    /* center rows */
    margin: 0 auto;
    max-width:45em;
}

.card-nav {
    margin-top:1em;
    padding-top:1em;
}
/*-------- Header settings and Em -------*/
h1,
h2,
h3,
h4,
h5,
h6 {    
    display: inline;
    font-family: "Avenir", sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: 500;
}
h2 {
    color: #616161;

    display: inline;

    font-weight: 400;
    font-size: 1.7em;
}
h3 {
    font-size: 1.5em;
    font-weight: 400;
}
h4 {
    font-size: 1.3em;
    padding: 0px 20px 0px 0px;
}
strong {
  color: #333;
}
/*-------- Section Settings -------*/

#about {
    padding-top:20px;
    height:600px;
    color:  black;
    background-color:#EEEEEE; }
#about a {
    padding:0px 5px 0px 5px;
}

#projects {
    padding-top:20px;
    height:600px; }
#projects a {
    padding:0px 5px 0px 5px;
}

#blog {
    padding-top:20px;
    height:600px;
    color: white;
    background-color: #E8B71A; }
#blog a {
    padding:0px 5px 0px 5px;
}

#footer {
    padding-top:20px;
    padding-bottom:20px;
    height:80px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    /* padding-top: 0.5rem; */
    border-top: 1px solid #ccc;
}

/*--------- Head Navigator ---------*/

.navbar {
    margin:0 auto;
    text-align:center;
    padding-top:20px;
}

.block-nav {
    padding-left:300px;
}

/*--------- Links ------------*/

/*--- Link colors 
#1FDA9A - lightgreen
#28ABE3 - blue
#F7EAC8 - beige
#E8B71A - gold tips
#DB3340 - red
---*/

a {
    font-weight:500;
    color: #0698EC;
}

a:hover {
    -o-transition: .35s;
    -ms-transition: .35s;
    -moz-transition: .35s;
    -webkit-transition: .35s;
    transition: .35s;
    color: red;
}

a:link,
a:visited {
    text-decoration: none;
    text-style: visited;
    
}

.bio-pic {
    margin: auto;
    padding:15px;
}

.name-header {
    
}
@media all {
    html {
        font-size: 1em;
    }
}

@media screen and (max-width: 40em) {
    #about, #projects, #contact, #blog {
	margin:0;
	font-size: 1em;
	padding-left:5px;
	width: 100%;
    }
    
    .block-nav {
    	display:none;
	width:0px;
    }
}