@media all {
    html {
        font-size: 16px;
    }
}


* {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    box-sizing: border-box;
    color: inherit;
    text-decoration: inherit;
}

doc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 0px solid blue;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    
    min-height: 100%;
    max-width: 860px;

    margin:auto;
    padding: 3rem;
    
    font-size: 1.2rem;
    font-family: "Avenir";
    line-height: 28px;
    
    color: #212121;
    background-color: #FFFFFF;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: none;
    color: white;
}

li {
    list-style-type: none;
}

ol {
    margin: 20px 10px;
    list-style-type: decimal;
}

.text-center {
    padding: 15px 0px 15px 0px;
    margin:auto
}


/*-------- Header settings -------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    display: inline;
    font-family: "Avenir", sans-serif;
}
h1 {
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    display: inline;
}
h2 {
    color: #616161;
    display: inline;
    font-weight: lighter;
    font-size: 22px;
}
h3 {
    width: 80%;
    max-width: 600px;
    font-size: 20px;
    font-weight: lighter;
}
h4 {
    font-size: 120%;
    padding: 0px 20px 0px 0px;
}

/*-------- Section Settings -------*/

#about {
    padding-top:70px;
    height:500px;
    background-color: #28ABE3;
}
#projects {
    padding-top:70px;
    height:500px;
    background-color: #DB3340;
}
#contact {
    padding-top:70px;
    height:500px;
    background-color: #1FDA9A;
}
#blog {
    padding-top:30px;
    height:500px;
    background-color: #E8B71A;
}

section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    padding-top: 0.5rem;
    border-top: 1px solid #ccc;
}


/*---------  Section titles --------*/

section-title {
    width: 24rem;
    text-align: left;
}

/*--------- Section-Content styling ----------*/

section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    /* if changed, change topsection a color and entryprev in post-style */
    color: #616161;
    
    /* columns */
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;

    -webkit-column-rule: 4px outset #FFFFFF; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px outset #FFFFFF; /* Firefox */
    column-rule: 4px outset #FFFFFF;
}

section-content:last-child {
    padding-bottom: .5em;
}


/*--------- Head Navigator ---------*/
.navbar {
    background-color: #fff;
}

.navbar .navbar-nav {
    background-color: #fff;
}
.navbar .navbar-collapse {
    text-align: center;
    margin:auto;
}


/*--- Link colors 
#1FDA9A - lightgreen
#28ABE3 - blue
#F7EAC8 - beige
#E8B71A - gold tips
#DB3340 - red
---*/


/*--------- Links ------------*/
a,
a:hover {
    -o-transition: .35s;
    -ms-transition: .35s;
    -moz-transition: .35s;
    -webkit-transition: .35s;
    transition: .35s;
    color:inherit;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 500;
    display: inline;
}
.navbar li.active a {
    color: #28ABE3;
    border-bottom: 2px solid #28ABE3;    
}

/* Nav bar active FX */
#myNavbar a {
    color: #616161;    
}
#myNavbar li.active a {
    background-color: #FFFFFF;
    color: #28ABE3;
    border-bottom: 2px solid #28ABE3;    
}
#myNavbar a:hover {
    color: #28ABE3;
}

top-section a {
    color: #616161;
}

top-section a:hover {
    /* if changed change entry-previews and ol color */
    color: #28ABE3;
}

section a {
    font-weight: 600;
    color: #28ABE3;
}

section a:hover {
    text-decoration: inherit;
    background-size: cover;
    background-color: #fff8e1;
    color: #28ABE3;
}

a:link,
a:visited {
    text-decoration: none;
    text-style: visited;
    
}

.footlinks {

}

.bio-pic {
    margin: auto;
    padding:15px;
}
@media all and (max-width:650px) {
    @media all and (max-width: 650px) {
        html {
            font-size: 16px;
        }
    }
    @media all and (max-width:590.0px) {
        html {
            font-size: 15px;
        }
    }
    @media all and (max-width:530.0px) {
        html {
            font-size: 13px;
        }
    }
    body {
        padding: 1rem;
    }
    section {
        flex-direction: column;
    }
    section-title {
        width: 100%;
        margin-bottom: 1rem;
    }
    section-content li {
        width: 100%;
    }
}