---
layout: page
title: Projects
---

<!-- Projects Section 
<section>
    <section-title>Projects</section-title>
    <section-content>
        <p>
        </p>
    </section-content>
</section>
<!-------------------->

<!-- Blog Previews -->
<section class="post-preview-section">
    <ol class="entry-previews">
        {% assign projects = site.projects | sort: 'order' %}
        {% for project in projects %}
          {% if project.include != null %}
            {% include {{ project.include }} %}
        {% endif %}
        <li>
            <p class="post-preview">

                <a href="{{ project.url }}">
		  {{ project.title }}
		</a>

                <br> {{ project.content | strip_html | truncatewords: 50 }}

                <a href="{{ project.url }}">
		  (read more)
		</a>
            </p>
        </li>
        {% endfor %}
	
    </ol>
</section>
<!-------------------->
