<!-- Footer Block -->
<footer class="w3-container">

    <div class="w3-content w3-margin-left" style="max-width:1200px">

        <div class="w3-row-padding w3-section">

            <div class="w3-col s4">
                <div class="w3-center footer demo w3-opacity w3-hover-opacity-off"  onclick="currentDiv(1)">

                    <!-- TOP TITLE/NAV ROW -->

                            <h2 class="w3-text-grey ">About</h2>


                    <!------------------->
     
                </div>
            </div>
        

            <div class="w3-col s4">

                <div class="w3-center footer demo w3-opacity w3-hover-opacity-off"  onclick="currentDiv(2)">

                    <!-- TOP TITLE/NAV Row -->
                         
                            <h2 class="w3-text-grey ">Projects</h2>

                    <!------------------->        

                </div>
            </div>
    

            <div class="w3-col s4">
                
                <div class="w3-center footer demo w3-opacity w3-hover-opacity-off" onclick="currentDiv(3)">

                    <!-- TOP NAV/TITLE -->

                            <h2 class="w3-text-grey ">Blog</h2>

                    <!------------------->

                </div>
            </div>
        </div>
    </div>
  <!-- End Footer area -->
  
</footer>
<!-- End FOOTER Block  -->


</div>
<!-- End of Content Wrapper (open in head.html) -->

</div>
<!-- End Content area (open in head.html) -->

</body> 

</html>
