<!-- top nav -->
<div class="w3-white w3-text-grey w3-card-4">

  <div class="w3-container">   

  <div class="navbar-header">
    <button type="button"
	    class="navbar-toggle collapsed"
	    data-toggle="collapse"
	    data-target="#bs-example-navbar-collapse-1"
	    aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">Jonathan Tow</a>
  </div>
  

    <nav class="collapse navbar-collapse navbar-fixed-top"
	 id="myScrollspy">
      <ul class="nav navbar-nav">
	<li><a href="#about">about</a></li>
	<li><a href="#projects">projects</a></li>
	<li><a href="#blog">blog</a></li>
	<li>
	  <a href="https://github.com/jonbtow" class="icon">
	    <i class="fa fa-github fa-lg"></i>
	  </a>
	</li>
	<li>
	  <a href="https://twitter.xcom/jonbtow" class="icon">
	    <i class="fa fa-twitter fa-lg"></i>
	  </a>
	</li>
      </ul>
    </nav>
  </div> <!-- end of Container -->
</div> <!-- End of Nav Card -->
</div>   <!-- End Left Column -->

