

<!-- Left Column -->
<div class="w3-third">

  <div class="w3-display-container">
    <div class="w3-display-bottomleft w3-container w3-text-black">
      <h2>Jonathan Tow</h2>
    </div>
  </div>

  <div class="w3-container">   
    <nav class="col-sm-3" id="myScrollspy">
      <ul class="nav nav-pills nav-stacked">
	<li><a href="#about">about</a></li>
	<li><a href="#projects">projects</a></li>
	<li><a href="#contact">contact</a></li>  
	<li><a href="#blog">blog</a></li>
	<li>
	  <a href="https://github.com/jonbtow" class="icon">
	    <i class="fa fa-github fa-lg"></i>
	  </a>
	  <a href="https://twitter.xcom/jonbtow" class="icon">
	    <i class="fa fa-twitter fa-lg"></i>
	  </a>
	</li>
      </ul>
    </nav>
  </div>
  
</div>
<!-- End Left Column -->
