<!--  ABOUT BLOCK -->
<div class="w3-container w3-margin-bottom section"
     id="about"
     >
  
  <!-- Section Title Row -->
  <header class="w3-container">    

    <div class="w3-third w3-container">           
      <h2><p>About</p></h2>
    </div>
    
  </header>
  <!------------------->   
  <hr>
  
  <!-- Content -->
  <div class="w3-container">
    
    <!-- Bio Row -->
    <div class="w3-row">

      <!-- Row Title -->
      <div class="w3-col w3-container" style="width:30%">
        Bio
      </div>
      <!--------------->
      
      <!-- Row Content -->
      <div class="w3-col w3-container" style="width:70%;">
        My name is Jonathan Tow. I am currently an undergraduate student at Stony Brook University studying                   Computer Science and Applied Math & Statistics with a strong interest in data analysis.
      </div>  
      <!--------------->
    </div>
    <!-- End of Bio Row -->
    
    <hr>
    
    <!-- Resume Row -->
    <div class="w3-row">

      <!-- Row Title -->
      <div class="w3-col w3-container" style="width:30%">
        Resume
      </div>
      <!--------------->
      <!-- Row Content -->
      <div class="w3-col w3-container" style="width:70%">
        <p>
          <a href="data/resume/cv.pdf">
            Resume 
          </a>
        </p>
      </div>
      <!--------------->
    </div>
    <!-- End of Resume Row -->
    
  </div>
  <!-- End of Content -->
</div>
<!--  End of About Section -->
