<div class="w3-container w3-margin-bottom section" id="notes">
  <!-- Section Title Row -->
  <div class="w3-container">
    <div class="w3-row">
      <div class="w3-twothird w3-container">
        <h2 class="section-h2">
          <p>Notes</p>
        </h2>
      </div>
      <div class="w3-third w3-container">
        <a href="#nav" class="top-link"> Back to top</a>
      </div>
    </div>
  </div>
  <hr>
  <!-- Content -->
  <div class="w3-container">
    <!-- Notes Row -->
    <div class="w3-row">
      <!-- Row Content -->
      <div class="w3-col w3-container" style="width:100%">
        <ol class="entry-previews">
          <!-- Limit the number of post here to 5 -->
          {% for post in site.posts limit:5 %}
          <li>
            <p class="post-preview">
              <a href="{{ post.url }}">
                {{ post.title }}
              </a>
              <br> {{ post.introduction }}
              <a href="{{ post.url }}">
                (read more)
              </a>
              <br> - {{ post.date | date: '%B %d, %Y' }}
            </p>
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</div>
