<!-- Projects Section -->
<div class="w3-container w3-margin-bottom section"
     id = "project"
     >

  <!-- Section Title Row -->
  <div class="w3-row">

    <div class="w3-twothird w3-container">      
      <h2 class="section-h2">
	<p>Projects
	</p>
      </h2>
    </div>

    <div class="w3-third w3-container">
      <a href="#nav" class="top-link"> Back to top</a>
    </div>
  </div>
  <!------------------->
  
  <hr>

  
  <!-- Content -->
  <div class="w3-container">
    
    <!-- Note Projects Row -->
    <div class="w3-row">

      <!-- Column Content -->
      <div class="w3-container w3-twothird">
	Under construction. Checkout some of my projects on
	<a href="https://jonbtow.github.io/#project">github</a>.
	<!-- <ol class="entry-previews"> -->
        <!--   {% for project in site.projects %} -->
	<!--   {% if project.level == 0 %} -->
        <!--   <li> -->
        <!--     <p class="post-preview"> -->
        <!--       <a href="{{ project.url }}"> -->
	<!-- 	{{ project.title }} -->
	<!-- 	<br> -->
        <!--       </a> -->

	<!--       {{project.description}} -->

	<!--       <a href="{{ project.url }}"> -->
	<!-- 	(read more) -->
        <!--       </a> -->
        <!--     </p> -->
        <!--   </li> -->
	<!--   {% endif %} -->
        <!--   {% endfor %} -->
	<!-- </ol> -->
      </div>
      <!--------------->

      <!-- End of Note Projects Row -->
    </div>
    
  </div>
  <!-- End of Content -->
</div>
<!-- End of Projects Section -->
