<!-- Projects Section -->
<div class="w3-container w3-margin-bottom"
     id = "project"
     >

  <!-- Section Title Row -->
  <header class="w3-container">

    <div class="w3-container">      
      <h2>
	<p>Projects
	  <a href="#nav" class="top-link"> Back to top</a>
	</p>
      </h2>
    </div>
    
  </header>
  <!------------------->
  
  <hr>
  <!-- Content -->    
  <div class="w3-container">   
    Under Construction please visit my github for now.
    <a href="https://github.com/jonbtow">github.com</a>
    <!--------------->
    </div>
    <!-- End of Note Projects Row -->

  </div>
  <!-- End of Content -->
</div>
<!-- End of Projects Section -->
