<!-- Projects Section -->
<div class="w3-container w3-margin-bottom section"
     id = "project"
     >

  <!-- Section Title Row -->
  <div class="w3-row">

    <div class="w3-twothird w3-container">      
      <h2 class="section-h2">
	<p>Projects
	</p>
      </h2>
    </div>

    <div class="w3-third w3-container">
      <a href="#nav" class="top-link"> Back to top</a>
    </div>
  </div>
  <!------------------->
  
  <hr>
  
  <!-- Note Projects Row -->
  <div class="w3-row">

    <!-- Row Content -->
    <div class="w3-twothird w3-container">
      Under Construction. Checkout some of my project on <a href="https://jonbtow.github.io">github</a>.
    </div>
    <!--------------->

    <!-- End of Note Projects Row -->

  </div>
  <!-- End of Content -->
</div>
<!-- End of Projects Section -->
