<!-- Top Nav Block -->
<nav class="w3-container navbar navbar-toggleable-md bg-faded" id="nav">
  <button class="navbar-toggler navbar-light navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{site.url}}">Jonathan Tow</a>


  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto pr-2">
      <li class="nav-item">
        <a class="nav-link" href="{{site.url}}#about">About </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.url}}#project">Projects</a>
      </li>
      <li class="nav-item"></li>
      <a class="nav-link" href="{{site.url}}#notes">Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/jonbtow">
          <i class="fa fa-github fa-lg"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/jonbtow">
          <i class="fa fa-twitter fa-lg"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- End of Top Nav -->