<!-- Footer -->
    <footer>
        <section class = "footer">
            <section-content>
            </section-content>
            <section-content>
                New York, New York <br>
                ©2017 Jonathan Tow <br><br>
                <a href="https://github.com/JonWot"> GitHub</a> |
                <a href="quora.com"> Quora</a> |
                <a href="https://twitter.com/jonathantow2"> Twitter</a>
            </section-content>
            <section-content>
            </section-content>
        </section>
    </footer>

  </div>
 </body>
</html>
