    <!-- Footer -->
    <footer class = "footer">
        <section>
            <section-content>
            New York, New York <br>
            ©2017 Jonathan Tow
            </section-content>
            <section-content>
                <a href="https://github.com/JonWot"> GitHub</a> |
                <a href="quora.com"> Quora</a> |
                <a href="https://twitter.com/jonathantow2"> Twitter</a>
            </section-content>
        </section>
    </footer>

    </div> <!-- End Content area -->
 </body>
</html>
