<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" 
              data-toggle="collapse" 
              data-target="#myNavbar" 
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <h1> 
            <a class="navbar-brand" href="index.html">Jonathan Tow</a> 
        </h1>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" >
    <!--       {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include pages_list.html %}
      -->
    <li><a href="#about">about</a></li>
    <li><a href="#projects">projects</a></li>
    <li><a href="#contact">contact</a></li>  
    <li><a href="#blog">blog</a></li>        
      </ul>
    </div>
  </div>
</nav>
