<!--  ABOUT BLOCK -->
<div class="w3-container w3-card-2 w3-white w3-margin-bottom"
     id="about"
     >
  
  <!-- TOP TITLE/NAV ROW -->
  <header class="w3-row">
    
    <!-- Title Column -->
    <div class="w3-third w3-container">
      <i class="fa fa-rocket fa-fw w3-margin-right w3-xxlarge w3-text-blue"
	 aria-hidden="true">
      </i>     
      <h2 class="w3-text-grey ">  About  </h2>
    </div>
    <!------------------->

    <!-- Nav Column -->
    <nav class="w3-two-third w3-text-grey card-nav">
      <a href="#about"
	 class="w3-bar-item w3-mobile">about</a>
      <a href="#projects"
	 class="w3-bar-item w3-mobile">projects</a>     
      <a href="#blog"
	 class="w3-bar-item w3-mobile">blog</a>
      <a href="https://github.com/jonbtow" class="icon">
	<i class="fa fa-github fa-lg"></i>
      </a>
      <a href="https://twitter.com/jonbtow" class="icon">
	<i class="fa fa-twitter fa-lg"></i>
      </a>
    </nav>    
  </header>
  <!-- End of TOP NAV/TITLE -->

  <hr>
  
  <!-- CONTENT -->
  <div class="w3-container">
    
    <!-- Bio Row -->
    <div class="w3-row">

      <!-- Row title -->
      <div class="w3-col w3-container" style="width:30%">
	Bio
      </div>
      <!--------------->
      
      <!-- row content -->
      <div class="w3-col w3-container" style="width:70%">
	Hi! I am an undergraduate student at Stony Brook University studying Computer Science and Applied Math & Statistics.
      </div>  
      <!--------------->
    </div>
    <!-- End of Bio Row -->

    <hr>
    
    <!-- Resume Row -->
    <div class="w3-row">

      <!-- row title -->
      <div class="w3-col w3-container" style="width:30%">
	Resume
      </div>
      <!--------------->

      <!-- row content -->
      <div class="w3-col w3-container" style="width:70%">
        <p>
	  <a href="data/resume/cv.pdf">
            Resume 
	  </a>
        </p>
      </div>
      <!--------------->
      
    </div>
    <!-- End of Resume Row -->
    
  </div>
  <!-- End of CONTENT -->
  
</div>
<!--  END OF ABOUT BLOCK -->
