<!--  ABOUT BLOCK -->
<div class="w3-container w3-card-2 w3-white w3-margin-bottom"
     id="about"
     >
  
  <!-- TOP NAV/TITLE -->
  <div class="w3-container">

    <i class="fa fa-asterisk fa-fw w3-margin-right w3-xxlarge w3-text-teal"
       aria-hidden="true">
    </i>
    
    <h1 class="w3-text-grey ">  About  </h1>

    <div class="w3-bar w3-text-grey block-nav ">
      <a href="#about"
	 class="w3-bar-item w3-button w3-mobile">about</a>
      <a href="#projects"
	 class="w3-bar-item w3-button w3-mobile">projects</a>     
      <a href="#blog"
	 class="w3-bar-item w3-button w3-mobile">blog</a>
      <a href="https://github.com/jonbtow" class="icon">
	<i class="fa fa-github fa-lg"></i>
      </a>
      <a href="https://twitter.com/jonbtow" class="icon">
	<i class="fa fa-twitter fa-lg"></i>
      </a>
    </div>
  </div>
  <!-- End of TOP NAV/TITLE -->

  <hr>
  
  <!-- CONTENT -->
  <div class="w3-container">
    
    <!-- Bio Row -->
    <div class="w3-row">

      <!-- row title -->
      <div class="w3-col w3-container" style="width:30%">
	Bio
      </div>
      <!--------------->
      
      <!-- row content -->
      <div class="w3-col w3-container" style="width:70%">
        My name is Jonathan Tow. I'm currently attending
        Stony Brook University as an undergraduate student studying
	Computer Science and Applied Mathematics and Statistics.
	I like visualizing data and teaching new tricks to my two parrots.
      </div>  
      <!--------------->
    </div>
    <!-- End of Bio Row -->

    <hr>
    
    <!-- Resume Row -->
    <div class="w3-row">

      <!-- row title -->
      <div class="w3-col w3-container" style="width:30%">
	Resume
      </div>
      <!--------------->

      <!-- row content -->
      <div class="w3-col w3-container" style="width:70%">
        <p>
	  <a href="data/resume/cv.pdf">
            Resume 
	  </a>
        </p>
      </div>
      <!--------------->
      
    </div>
    <!-- End of Resume Row -->
    
  </div>
  <!-- End of CONTENT -->
  
</div>
<!--  END OF ABOUT BLOCK -->
