<!-- BLOG BLOCK -->
<div class="slide blog w3-container w3-card-2 w3-white w3-margin-bottom"
     id="blog"
     >

  <!-- TOP NAV/TITLE -->
  <header class="w3-container">

     <!-- Title Column -->
    <div class="w3-third w3-container">
      <i class="fa fa-bookmark fa-fw w3-margin-right w3-xxlarge w3-text-blue"
	 aria-hidden="true">
      </i>     
      <h2 class="w3-text-grey ">  Blog  </h2>
    </div>
    <!------------------->
   
  </header>
  <!-- End of TOP NAV/TITLE -->

  <hr>

  <!-- CONTENT -->
  <div class="w3-container">
    
    <!-- Blog Row -->
    <div class="w3-row">
      
      <!-- row content -->
      <div class="w3-col w3-container" style="width:100%">
	<ol class="entry-previews">

          {% for post in site.posts %}
          <li>
            <p class="post-preview">

              <a href="{{ post.url }}">
		{{ post.title }}
              </a>

              <br> {{ post.introduction }}

              <a href="{{ post.url }}">
		(read more)
              </a>

              <br> - {{ post.date | date: '%B %d, %Y' }}
            </p>
          </li>
          {% endfor %}	
	</ol>
      </div>
      <!-------------------->

    </div>
    <!-- End of Blog Row -->
    
  </div>
  <!-- End of CONTENT -->
  
</div>
<!-- END OF BLOG BLOCK -->
