<!-- CONTACT BLOCK -->
<div class="w3-container w3-card-2 w3-white w3-margin-bottom"
     id="contact"
     >

  <h2 class="w3-text-grey w3-padding-16">
    <i class="fa fa-ellipsis-h fa-fw w3-margin-right w3-xxlarge w3-text-teal" aria-hidden="true"></i>
    Contact
  </h2>

  <div class="w3-container">
    <!-- Email Section -->
    <section>
      <section-title>Email</section-title>
      <section-content>
        <ul>
          <li>
            <a href="mailto:jonathantow8@gmail.com">
              <em>
		jonathantow8 at gmail dot com
              </em>
            </a>

          </li>
        </ul>
      </section-content>
    </section>
    <!-------------------->

    <!-- Phone Section -->
    <section>
      <section-title>Phone</section-title>
      <section-content>
        <ul>
          <!-- Column 1 -->
          <li>    
            (914) 886-8003
          </li>
        </ul>
      </section-content>
    </section>
    <!-------------------->

  </div> <!-- End of Container -->
</div>   <!-- END OF CONTACT BLOCK -->
