<!-- PROJECTS BLOCK -->
<div class="w3-container w3-card-2 w3-white w3-margin-bottom"
     id = "projects"
     >
    <i class="fa fa-laptop fa-fw w3-margin-right w3-xxlarge w3-text-teal" aria-hidden="true"></i>
     <h2 class="w3-text-grey ">  Projects  </h2>

    <ul class="block-nav navbar-nav">
      <li><a href="#about">about</a></li>
      <li><a href="#projects">projects</a></li>
      <li><a href="#blog">blog</a></li>
      <li>
	<a href="https://github.com/jonbtow" class="icon">
	  <i class="fa fa-github fa-lg"></i>
	</a>
      </li>
      <li>
	<a href="https://twitter.com/jonbtow" class="icon">
	  <i class="fa fa-twitter fa-lg"></i>
	</a>
      </li>
    </ul>

  <div class="w3-container">
    
    <!-- Projects Section 
	 <section>
           <section-title>Projects</section-title>
           <section-content>
             <p>
             </p>
           </section-content>
	 </section>
    -->

    <!-- Data Projects -->

    <!-- Note Projects -->
    <section class="post-preview-section">
      <section-title>Notes</section-title>
      <ol class="entry-previews">
        {% assign projects = site.projects %}
        {% for project in projects %}
        <li>
          <p class="post-preview">

            <a href="{{ project.url }}">
              {{ project.title }}
            </a>

            <br> {{project.introduction}}

            <a href="{{ project.url }}">
              (read more)
            </a>
          </p>
        </li>
        {% endfor %}

      </ol>
    </section>
    <!-------------------->

  </div> <!-- End of Container -->
</div> <!-- END OF PROJECTS BLOCK -->
